$ 57^{100} $

In [1]:
p = 2**3
print(p)

8

In [3]:
import math
math.sqrt(5)

2.23606797749979

## Directory     Math

In [5]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [6]:
from math import sqrt
sqrt(5)

2.23606797749979

In [7]:
from math import *
factorial(7)

5040

In [11]:
p = float(input("enter the principal amount__"))
n = float(input("enter how many times a year__"))
r = float(input("enter rate of interest__"))
t = float(input("enter number of years__"))
A = p*(1+(r/(n*100)))**(n*t)
print("final amount is==", A)

enter the principal amount__20000
enter how many times a year__4
enter rate of interest__4
enter number of years__5
final amount is== 24403.800798959343

In [12]:
range(21)

range(0, 21)

In [15]:
list(range(21))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [20]:
from math import factorial
def choose(n,r):
    return factorial(n)/(factorial(n-r)*factorial(r))

In [21]:
choose(10,3)

120.0

In [23]:
n = 20
p = 0.1
q = 1-p
sum([choose(n,i)*p**i*(q)**(n-i) for i in range(n+1)])

1.0000000000000004

##  COMPLEX sq.root

$ -2^{1/2} $

In [24]:
import cmath
cmath.sqrt(-2)

1.4142135623730951j

In [25]:
z = 5 + 3J
cmath.sqrt(z)

(2.3271175190399496+0.6445742373246469j)

In [33]:
z = (5 + 3J)*( 5 - 3J)
print("z__", z)
print(cmath.sqrt(z))
print("sin(z)___",cmath.sin(z))

z__ (34+0j)
(5.830951894845301+0j)
sin(z)___ (0.5290826861200238-0j)

## cmath DIRECTORY

In [34]:
dir(cmath)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atanh',
 'cos',
 'cosh',
 'e',
 'exp',
 'inf',
 'infj',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'log',
 'log10',
 'nan',
 'nanj',
 'phase',
 'pi',
 'polar',
 'rect',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau']

##  LISTS

In [35]:
L = [5,7,100, 1 , 25,'ICT']
print(L)

[5, 7, 100, 1, 25, 'ICT']

In [38]:
L.append(1000)

In [39]:
L

[5, 7, 100, 1, 25, 'ICT', 1000, 1000, 1000]

In [40]:
L.remove(1000)

In [41]:
L

[5, 7, 100, 1, 25, 'ICT', 1000, 1000]

In [42]:
L.insert(2,'PREETHI')

In [43]:
L

[5, 7, 'PREETHI', 100, 1, 25, 'ICT', 1000, 1000]

In [44]:
L.count(1000)

2

In [45]:
L.index(7)

1

In [49]:
L.reverse()

In [50]:
L

[1000, 1000, 'ICT', 25, 1, 100, 'PREETHI', 7, 5]

In [54]:
L.pop(3)

1

In [59]:
help(L.extend)

Help on built-in function extend:

extend(iterable, /) method of builtins.list instance
    Extend list by appending elements from the iterable.

In [62]:
L.extend('ICT')

In [63]:
L

[1000, 1000, 'ICT', 100, 'PREETHI', 7, 5, 'I', 'C', 'T']

In [64]:
len(L)

10

In [65]:
L[3]

100

## TUPLES

In [68]:
t = (2,8,4,5,1,54,98,65)
print("t__" , t)
type(t)

t__ (2, 8, 4, 5, 1, 54, 98, 65)

tuple

In [70]:
p = {'r':'red','g':'green','b':'blue','y':'yellow'}
print("p___",p)
type(p)

p___ {'r': 'red', 'g': 'green', 'b': 'blue', 'y': 'yellow'}

dict

In [73]:
p.keys()

dict_keys(['r', 'g', 'b', 'y'])

In [74]:
p.values()

dict_values(['red', 'green', 'blue', 'yellow'])

In [78]:
p['g']

'green'

In [79]:
p['flower'] = 'jasmine'

In [80]:
p

{'r': 'red', 'g': 'green', 'b': 'blue', 'y': 'yellow', 'flower': 'jasmine'}

In [81]:
p['number']= 12

In [82]:
p

{'r': 'red',
 'g': 'green',
 'b': 'blue',
 'y': 'yellow',
 'flower': 'jasmine',
 'number': 12}

In [84]:
p.items()

dict_items([('r', 'red'), ('g', 'green'), ('b', 'blue'), ('y', 'yellow'), ('flower', 'jasmine'), ('number', 12)])

In [85]:
p.pop('r')      #pop instruction removes the item from tuple

'red'

In [87]:
p.pop('number')

12

In [90]:
p.keys()

dict_keys(['g', 'b', 'y', 'flower'])

In [91]:
p

{'g': 'green', 'b': 'blue', 'y': 'yellow', 'flower': 'jasmine'}

In [72]:
q = (',','%','^','*')
print(q)
type(q)

(',', '%', '^', '*')

tuple

## HOME ASSIGNMENT 1

Program to calculate avg of subjects with grade points

In [94]:
P = int(input("enter marks in physics subject out of 50__"))
C = int(input("enter marks in chemistry subject out of 50__"))
M = int(input("enter marks in maths subject out of 50__"))
E = int(input("enter marks in english subject out of 50__"))
avg = (P+C+M+E)/4
if (avg>=40):
    print("The grade obtained by the student is A")
else:
    if (avg>=30):
        print("The grade obtained by the student is B")
    else:
        if (avg>=20):
            print("The grade obtained by the student is C")
        else:
            print("The grade obtained by the student is D")

enter marks in physics subject out of 50__45
enter marks in chemistry subject out of 50__35
enter marks in maths subject out of 50__32
enter marks in english subject out of 50__48
The grade obtained by the student is A